@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root{
  --bg:#ffffff;
  --text:#050816;
  --primary:#D6EB29;
}

.dark{
  --bg:#050816;
  --text:#ffffff;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:background .4s ease,color .4s ease;
}