@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root{
  --bg:#0F1039;
  --text:#FFFFFF;
  --primary:#D5D93B;
}

.dark{
  --bg:#0F1039;
  --text:#FFFFFF;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:background .4s ease,color .4s ease;
}